@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 50% 98%; /*#F6F8FC*/
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 100% 56%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 218 38% 94%; /*#EBEFF6*/
    --input: 228 19% 50%; /*#667097*/
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --red-color: 353 100% 59%; /*#FF2D46*/
    --pink-color: 354 100% 96%; /*#FFEBED*/
    --gray-color: 231 3% 54%; /*#87888E*/
    --green-color: 168 100% 43% /*#00D9AD*/;
    --green2-color: 124 84% 93%; /*##DDFCDF*/
    --yellow-color: 49 99% 56%; /*#FED51E*/
    --yellow2-color: 47 100% 89%; /*#FFF3C9*/
    --purple-color: 263 100% 60%; /*#8031FF*/
    --brown-color: 227 42% 17%; /*#19213D*/
    --blue-color: 217 100% 96%; /*#EAF2FF*/
    --blue2-color: 201 77% 51%; /*#239EE2*/
    --blue3-color: 212 100% 57%; /*#2388FF*/
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --red-color: 353 100% 59%;
    --pink-color: 354 100% 96%; /*#FFEBED*/
    --gray-color: 231 3% 54%;
    --green-color: 168 100% 43%;
    --green2-color: 124 84% 93%; /*##DDFCDF*/
    --yelow-color: 49 99% 56%;
    --yellow2-color: 47 100% 89%; /*#FFF3C9*/
    --purple-color: 263 100% 60%;
    --brown-color: 263 100% 60%; /*#19213D*/
    --blue-color: 227 42% 17%; /*#EAF2FF*/
    --blue2-color: 201 77% 51%; /*#239EE2*/
    --blue3-color: 212 100% 57%; /*#2388FF*/
  }
  .un-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .un-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: hidden;
  }
  html {
    @apply font-inter;
  }
}

.rdp-vhidden {
  display: none;
}
#search::-webkit-search-cancel-button {
  position: relative;
  right: -3px;
  cursor: pointer;
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number'][disabled] {
  color: back;
  font-weight: 500;
}
input::selection {
  background-color: #2388ff; /* Màu nền khi bôi màu */
  color: white; /* Màu chữ khi bôi màu */
}
input[type='time']::-webkit-calendar-picker-indicator {
  margin-left: 23.5rem;
  cursor: pointer;
}
